/**
 * Reset some basic elements
 */
body, b, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

#content-body {
    margin: 0 0 0 0;
    line-height: 1.4em;
    height: 100%;
    top: 0;
}

#index .container {
    padding-top: 26px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 800px;
}

#index {
    z-index: 1;

}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  #index { display: none; }
  #content-body { margin: 0 0 0 0px; }
  .post-header {flex-direction: column;}
  img {
    max-width: 100%!important;
  }

  .post-list-item {
    flex-direction: column;

  }
}
