---
layout: default
---
  <!--<img style="width:100px;margin:0 auto;margin-bottom:30px;" src="{{site.baseurl}}/assets/sam.gif"/>-->

<br>
  {%include  box_letter_header.html string="Sam Hains" %}

<div>
    <a href="{{site.baseurl}}/blog/live-image-processing">
      Live Image Processing
    </a>
</div>
<div>
    <a href="{{site.baseurl}}/blog/recurring-concepts">
      Recurring Concepts in Art
    </a>
</div>
<div>
    <a href="{{site.baseurl}}/blog/project-dev">
      Project Development Studio
    </a>
</div>
<div>
    <a href="{{site.baseurl}}/blog/algo-comp">
      Algorithmic Composition
    </a>
</div>
<br>
<div>
    <a href="{{site.baseurl}}/blog/visual-language">
    Visual Language
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/physcomp">
    Intro to Physical Computing
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/faking-the-news">
    Faking The News
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/intro-to-fabrication">
    Intro to Fabrication
  </a>
</div>
{{ content }}
