---
layout: default
---
  <!--<img style="width:100px;margin:0 auto;margin-bottom:30px;" src="{{site.baseurl}}/assets/sam.gif"/>-->

<br>
<div class="page-heading">Sam Hains</div>
<div>
    <a href="{{site.baseurl}}/blog/visual-language.html">
    Visual Language
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/physcomp.html">
    Intro to Physical Computing
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/faking-the-news.html">
    Faking The News
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/intro-to-fabrication.html">
    Intro to Fabrication
  </a>
</div>
{{ content }}
