---
layout: default
---
  <!--<img style="width:100px;margin:0 auto;margin-bottom:30px;" src="{{site.baseurl}}/assets/sam.gif"/>-->

<br>
  {%include  box_letter_header.html string="Sam Hains" %}

<div>
    <a href="{{site.baseurl}}/blog/live-image-processing.html">
      Live Image Processing
    </a>
</div>
<div>
    <a href="{{site.baseurl}}/blog/recurring-concepts.html">
      Recurring Concepts in Art
    </a>
</div>
<div>
    <a href="{{site.baseurl}}/blog/project-dev.html">
      Project Development Studio
    </a>
</div>
<br>
<div>
    <a href="{{site.baseurl}}/blog/visual-language.html">
    Visual Language
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/physcomp.html">
    Intro to Physical Computing
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/faking-the-news.html">
    Faking The News
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/blog/intro-to-fabrication.html">
    Intro to Fabrication
  </a>
</div>
{{ content }}
