---
layout: default
---

    <!--<img style="width:100px;margin:0 auto;margin-bottom:30px;" src="{{site.baseurl}}/assets/sam.gif"/>-->
<div class="home">

  <br>
  <div ><span class="letter-header"> W</span> <span class="letter-header"> O</span> <span class="letter-header"> R</span> <span class="letter-header"> K</span></div>
  <br>
  {{ content }}
  <ul class="post-list">
    {% for project in site.projects reversed %}
        {% include project_link.html %}
    {% endfor %}
  </ul>
  <br>

  <span>
  <a  href="http://instagram.com/sam.hains"  target="_blank"> ig</a> /
  <a  href="mailto:sam@samhains.com" target="_blank"> email</a> /
  <a  href="https://www.are.na/sam-hains"  target="_blank"> arena</a> /
  <a  href="http://twitter.com/sam_hains"  target="_blank"> twitter</a>

  </span>

</div>
