---
layout: blog
---

<article>

  <br>

  {%include  box_letter_header.html string=page.title %}
  <br>
  <span class="post-meta">{{ page.date | date: "%m/%d/%Y" }}</span>
  <br>
  <br>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

<div class="post-header">
  Comments
</div>
<form method="POST" action="https://api.staticman.net/v2/entry/samhains/samhains.github.io/master/comments">


  <input name="options[redirect]" type="hidden" value="https://samhains.com/blog">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">

  <label>Name</label>
  <br>
  <input name="fields[name]" type="text">
  <br>
  <label>Message</label>
  <br>
  <textarea rows=10 name="fields[message]"></textarea>
  <br>
  <button type="submit">Submit</button>
</form>

{% assign comments = site.data.comments[page.slug]  %}



<br>
  {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}
      <div>
         <span class="comment-user"> {{ commentData.name }}</span> on
        <span class="post-meta">{{ commentData.date | date: "%m/%d/%Y" }}</span>:
       </br>
        {{ commentData.message }}</br>
      </div>
      <br>
  {% endfor %}

</p>
</article>
